<div class="jumbotron">
  <h1>Hello, dear friend!</h1>
  <p>Cras feugiat tortor id est sollicitudin placerat. Nunc iaculis nunc a orci posuere placerat. Sed accumsan erat vel
     consectetur sodales. Etiam urna diam, sagittis a diam sed, dictum rhoncus orci.</p>
  <p><a class="btn btn-primary btn-lg" href="#about" role="button">More about us</a></p>
</div>

<div class="row productsList">
  <div class="col-sm-6 col-md-4 product">
    <div class="thumbnail">
      <img src="..\images\product-1.jpeg" alt="...">
      <div class="caption">
        <h3>Product one</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec elit vitae sem posuere laoreet quis viverra quam.</p>
        <p><a href="#" class="btn btn-primary" role="button">By now</a> <a href="#" class="btn btn-default" role="button">Add to cart</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 product">
    <div class="thumbnail">
      <img src="..\images\product-1.jpeg" alt="...">
      <div class="caption">
        <h3>Product one</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec elit vitae sem posuere laoreet quis viverra quam.</p>
        <p><a href="#" class="btn btn-primary" role="button">By now</a> <a href="#" class="btn btn-default" role="button">Add to cart</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 product">
    <div class="thumbnail">
      <img src="..\images\product-1.jpeg" alt="...">
      <div class="caption">
        <h3>Product one</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec elit vitae sem posuere laoreet quis viverra quam.</p>
        <p><a href="#" class="btn btn-primary" role="button">By now</a> <a href="#" class="btn btn-default" role="button">Add to cart</a></p>
      </div>
    </div>
  </div>
</div>
