<div class="row productsList" ng-controller="ProductsCtrl as productsList">
  <div class="col-sm-6 product" ng-repeat="product in products">
    <div class="thumbnail">
      <img src="{{product.imageUrl}}" alt="{{product.title}}">
      <div class="caption">
        <h3>{{product.title}}</h3>
        <p>{{product.description}}</p>
        <p class="buttons"><a href="#" class="btn btn-primary" role="button">By now</a> <a href="#" ng-click="addToCart($event,$index)" class="btn btn-default" role="button">Add to cart</a></p>
      </div>
    </div>
  </div>
</div>